@import "colors";


.color-label {
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 30px;
        width: 150px;
        height: 3px;
        @media (max-width:660px) {
            left: -15px;
            top:5px;
            width: 20px;
            height: 20px;
        }
    }
    @media (max-width:660px) {
        padding-left: 15px;
        position: relative;
        &.content-block-label, &.page-title-header {
            color: $black !important;
        }
        &.content-block-label {
            line-height: 2.1;
        }
        &.author-header {
            &:after {
                display: none;
            }
        }
        &.page-title-header {
            &:after {
                top: 14px;
            }
        }
        .m-np & {
            padding-left: 30px;
            &:after {
                left:0;
            }
        }
    }


    &.l-yellow {
        &:after {
            background: $yellow;
        }
    }
    &.l-blue {
        &:after {
            background: $blue;
        }
    }
    &.l-green {
        &:after {
            background: $green;
        }
    }
    &.l-red {
        &:after {
            background: $red;
        }
    }
    &.l-beige {
        &:after {
            background: $beige;
        }
    }
}
