// @import "../../common/scss/helpers/breakpoints";
// @import "../../common/scss/base/queries";

// @import "../../common/scss/helpers/colors";
@import "colors";


$system-font: -apple-system, BlinkMacSystemFont,
  "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
  "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;

/* responsive tables */
.table-responsive {
  overflow-x: auto;
  min-height: .01%;
  @media (max-width: 767px) {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    border: 1px solid #ddd;
  }
  table {
    width: 100%;
    max-width: 100%;
    table-layout: auto;
    td, th {
      padding: 10px;
      min-width: 30px;
    }
  }
}
/* responsive tables end */
/* content padding right fix */
.article-body {
  .article-content {
    @media (max-width: 859px) {
      padding-right: 0;
    }
  }
}
/* content padding right fix end */

/* padding for content */
.home-page {
  .panel-section {
    @media(max-width: 63em) {
      padding: 5px;
    }
  }
}
/* padding for content end */
/* mobile nav style */
body {
  &.mobile-menu-open {
    position: fixed;
    left: 0;
    right: 0;
    overflow: hidden;
  }
}
/* mobile nav style end */
/* content-container */
.content-container {
  padding-top: 48px;
  @media (min-width: 1024px) {
    padding-top: 99px;
  }
}
/* content-container end */

/*========================================================== top nav start ===========================================================*/
/* -----------------------------------------colors------------------------ */
.text_green,
.text-green {
  color: $green;
}
.bg_green,
.bg-green {
  background-color: $green;
}
.text_blue,
.text-blue {
  color: $blue;
}
.bg_blue,
.bg-blue {
  background-color: $blue;
}
.text_yellow,
.text-yellow {
  color: $yellow;
}
.bg_yellow,
.bg-yellow {
  background-color: $yellow;
}
.text_beige,
.text-beige {
  color: $beige;
}
.bg_beige,
.bg-beige {
  background-color: $beige;
}
.text_red,
.text-red {
  color: $red;
}
.bg_red,
.bg-red {
  background-color: $red;
}
/* -----------------------------------------colors end------------------------ */
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
/* mixins end */
/* fool tophat fixing at the top*/
.fool-tophat-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9000;
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
  @media (max-width: 1023px) {
      display: none;
  }
}
/* fool tophat styles end */
/* header navigation */
header.navigation {
  transition: .3s ease;
  position: fixed;
  top: 36px;
  border: none;
  min-height: 45px;
  nav {
    z-index: 1;
    @media (max-width: 1023px) {
        min-height: 45px;
    }
  }
  @media (max-width: 1023px) {
    .logo {
      max-height: 45px;
      img {
        max-height: 26px;
        padding: 0;
      }
    }
  }
  @media (max-width: 1023px) {
    margin-bottom: 5px;
    top: 0;
  }
  &:after {
    content: '';
    position: fixed;
    z-index: 0;
    background: rgba(0, 0, 0, 0.5);
    top: 99px;
    right: 0;
    left: 0;
    bottom: 0;
    visibility: hidden;
    opacity: 0;
    transition: none;
  }
  &.menu-in-focus:after {
    transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    opacity: 1;
    visibility: visible;
    @media (max-width: 1023px) {
        display: none;
      }
    }
  .topbar-fixed & {
    position: fixed;
    top: 0;
  }
  .navigation-wrapper {
    display: flex;
    align-items: center;
    position: static;
  }
  ul.navigation-menu {
    li.nav-link {
      position: static;
    }
  }
}
/* top color line*/
.color-line {
  width: 100%;
  display: flex;
  .color {
    flex: 1;
    height: 3px;
    &.blue {
      background-color: $blue;
    }
    &.yellow {
      background-color: $yellow;
    }
    &.red {
      background-color: $red;
    }
    &.beige {
      background-color: $beige;
    }
    &.green {
      background-color: $green;
    }
  }
}
/* top color line end*/
/* mega menu */
#mobile-menu-toggle {
  background: none;
  border: none;
  position: absolute;
  right: 40px;
  top: 0;
  bottom: 0;
  float: none;
  font-weight: normal;
  font-size: 25px;
  width: 45px;
  height: 45px;
  line-height: 45px;
  padding: 0;
  color: #333;
  .fa {
    transition: .3s ease;
  }
  &:hover {
    color: #666;
  }
  @media (min-width: 1024px) {
    display: none;
  }
  &:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: none;
    border: none;
    color: #333;
    opacity: 0.8;
    content: '\f00d';
    font-family: 'FontAwesome';
    font-size: 25px;
    width: 45px;
    height: 45px;
    visibility: hidden;
    transform: scale(1.2);
    transition: .3s ease;
  }
  &.close-menu {
    .fa {
      transform: scale(0);
      opacity: 0;
    }
    &:after {
      opacity: 1;
      transform: none;
      visibility: visible;
    }
  }
}
.main-menu {
  font-weight: 400;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  transition: .3s ease;
  @media (max-width: 1023px) {
      display: none;
  }
  .main-menu-item {
    font-size: 15px;
    display: inline-block;
    vertical-align: middle;
    @media (min-width: 1024px) {
      &:hover, &:focus, &:active {
        .sub-menu {
          display: block;
        }
      }
    }
    > a {
      position: relative;
      display: block;
      line-height: 60px;
      height: 60px;
      padding: 0 10px;
      color: #333;
      transition: .3s ease;
      &:before {
        content: '';
        background: $yellow;
        position: absolute;
        top: -4px;
        right: 0;
        left: 0;
        height: 3px;
        transition: .3s ease;
        transform: scaleX(0);
        transform-origin: bottom;
        @media (min-width: 1024px) {
          top: 0;
        }
      }
      &:hover, &.hover, &.open, &.focus {
        background-color: #fafafa;
        box-shadow: 0 0 1px #bbb;
        &:before {
          transform: none;
        }
      }
      @media (min-width: 1044px) {
        padding: 0 15px;
      }
      &.nav-link-stock-picks {
        padding: 0 15px;
        height: 40px;
        line-height: 40px;
        margin-left: 20px;
        transition: .3s ease;
        &:before {
          display: none;
        }
        @media (max-width: 1023px) {
          display: none;
        }
        &:hover, &:focus {
          box-shadow: inset 0 18px 0 0 rgba(255, 255, 255, 0.5), 0 1px 1px 0 rgba(0, 0, 0, 0.5);
        }
      }
    }
    &.dropdown > {
      a {
        padding-right: 30px;
        &:after {
          content: '\f0d7';
          font-family: FontAwesome;
          position: absolute;
          top: auto;
          right: 13px;
          bottom: auto;
          left: auto;
          font-size: 12px;
          transition: .3s ease;
        }
      }
    }
  }
  .sub-menu {
    transition: 0.2s ease-out;
    position: absolute;
    z-index: 200;
    left: 0;
    right: 0;
    padding-top: 3px;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-5%);
    @media (max-width: 1023px) {
      margin-top: -2px;
    }
    &.open {
      visibility: visible;
      transition: .5s ease .35s;
      opacity: 1;
      transform: none;
    }
  }
}

// mega-menu-wrapper
.mega-menu-wrapper {
  background-color: #fafafa;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
  padding: 0;
  h1 {
    display: block;
    width: 100%;
    font-weight: 900;
    font-size: 22px;
    padding: 0 30px;
    margin-bottom: 30px;
  }
}
.mega-menu-wrapper-content {
  max-width: 1280px;
  margin: 0 auto;
  padding: 15px;
  @media (min-width: 1280px) {
    padding: 15px 30px;
  }
  .columns {
    display: flex;
    align-items: flex-start;
    margin: 0 -15px;
    @media (max-width: 1023px) {
      flex-direction: column;
    }
    @media (min-width: 1280px) {
      margin: 0 -30px;
    }
  }
  .column {
    display: inline-block;
    vertical-align: top;
    padding: 5px 15px;
    &.promo-box-column {
      flex: 0 0 360px;
      @media (max-width: 1023px) {
        display: none;
      }
    }
    .banner {
      margin: 0;
    }
    .sub-menu-header {
      font-weight: 600;
      font-size: 15px;
      margin-bottom: 12px;
      text-transform: uppercase;
    }
    .sub-menu-link {
      margin-bottom: 7.5px;
    }
    @media (max-width: 1023px) {
      display: block;
      width: 100%;
      padding: 0;
    }
    @media (min-width: 1024px) {
      max-width: 360px;
    }
    @media (min-width: 1280px) {
      padding: 5px 30px;
    }
  }
  a {
    font-size: 15px;
    line-height: 1.1;
    color: #0077aa;
    padding-right: 0 !important;
    display: inline-block;
    &:hover {
      color: #009BDD;
    }
  }
}
.sub-menu-link + .sub-menu-header {
  margin-top: 30px;
}

/* mobile nav */
.mobile-nav-container {
  position: fixed;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 0;
  top: 45px;
  margin-top: 3px;
  left: 10%;
  right: 0;
  bottom: 0;
  background-color: #fafafa;
  transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  visibility: hidden;
  transform-origin: top;
  transform: translateX(100%);
  &.open {
    visibility: visible;
    transform: none;
    & + .mobile-nav-overlay {
      visibility: visible;
      opacity: 1;
    }
  }
  @media (min-width: 380px) {
    left: 20%;
  }
  @media (min-width: 480px) {
    left: 30%;
  }
  @media (min-width: 645px) {
    left: 40%;
  }
  @media (min-width: 768px) {
    left: 50%;
  }
  @media (min-width: 1024px) {
    display: none;
  }
}
.mobile-nav-overlay {
  position: fixed;
  z-index: 0;
  top: 45px;
  margin-top: 3px;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  visibility: hidden;
  opacity: 0;
  transition: .5s ease;
  @media (min-width: 1024px) {
    display: none;
  }
}
.mobile-nav {
  display: block;
  top: 0;
  .main-menu-item {
    border-top: 1px solid #ddd;
    display: block;
    a, span {
      color: #333333;
      display: block;
      font-size: 15px;
      padding: 15px;
      position: relative;
      transition: 0.3s ease;
      white-space: normal;
      background: #fafafa;
      &:hover {
        background: #fff;
      }
      @media (min-width: 380px) {
        padding: 15px 30px;
      }
    }
    .main-menu-item-link {
      padding: 0;
      span {
        &:after {
          content: '\f054';
          font-family: FontAwesome;
          color: #555;
          font-size: 11px;
          position: absolute;
          right: 15px;
          top: 50%;
          transform: translateY(-50%);
          transition: .3s ease;
          @media (min-width: 480px) {
            right: 30px;
          }
        }
      }
    }
    .sub-menu {
      position: absolute;
      overflow: auto;
      z-index: 200;
      bottom: 0;
      top: 0;
      right: 0;
      left: 0;
      box-shadow: -2px 0 20px -7px rgba(0, 0, 0, 0.8);
      transition: 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
      visibility: hidden;
      transform: translateX(100%);
      background-color: #fafafa;
    }
    &.expanded {
      .sub-menu {
        visibility: visible;
        transform: none;
      }
      &:after {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  .sub-menu-name {
    position: relative;
    padding: 0 30px;
    height: 60px;
    line-height: 60px;
    font-size: 18px;
    font-weight: 900;
    text-align: center;
    color: $green;
    border-bottom: 1px solid $green;
    .btn-level-up {
      position: absolute;
      height: 60px;
      width: 60px;
      left: 0;
      top: 0;
      background: transparent;
      transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
      color: #333;
      &:hover {
        transform: translateX(10%);
      }
    }
  }
  .mega-menu-wrapper {
    box-shadow: none;
  }
  .mega-menu-wrapper-content {
    padding: 0 15px;
    .column {
      margin-bottom: 0;
      .sub-menu-header {
        height: 60px;
        line-height: 60px;
        margin: 0;
        background: #fff;
        padding: 0 15px;
        border-top: 1px solid #ddd;
        @media (min-width: 380px) {
            padding: 0 30px;
        }
      }
      .sub-menu-link {
        border-top: 1px solid #ddd;
        margin-bottom: 0;
      }
    }
  }
}
/* mobile nav end */
/* header navigation end */

/* nav search */
.header-search-wrapper {
  position: relative;
  z-index: 1;
  @media (max-width: 1023px) {
    height: 45px;
    width: 45px;
  }
  @media (max-width: 1225px) {
    width: 50px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 3px;
  }
  @media (min-width: 1226px) {
    left: 0 !important;
  }
  @media (min-width: 1250px) {
    left: 30px !important;
  }
}
.header-search-wrapper-toggle {
  background: none;
  border: none;
  color: #333;
  opacity: 0.8;
  transition: .3s ease;
  width: 50px;
  height: 60px;
  padding: 0;
  position: absolute;
  right: 0px;
  top: 0;
  bottom: 0;
  z-index: 200;
  display: none;
  font-weight: 300;
  &:hover {
    opacity: 1;
    background: transparent;
    color: #666;
  }
  &:after {
    content: '\f002';
    font-family: 'FontAwesome';
    font-size: 20px;
    .open & {
      content: '\f00d';
    }
  }
  @media (max-width: 1023px) {
    height: 45px;
    width: 45px;
  }
  @media (max-width: 1225px) {
    display: block;
  }
}
.header-search-form-wrapper {
  background: #fff;
  left: auto;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .open & {
    width: auto;
    opacity: 1;
    .header-search-form:before {
      display: block;
    }
  }
  @media (max-width: 1225px) {
    width: 0;
    position: absolute;
    opacity: 0;
  }
}
.header-search-form {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding-right: 50px;
  padding-left: 2px;
  @media (min-width: 1226px) {
    max-width: 205px;
    padding-right: 0;
  }
  &:before {
    content: '';
    position: absolute;
    left: -48px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0), #fff);
    width: 50px;
    top: 0;
    height: 40px;
    display: none;
  }
}
#fool-search {
  font-family: inherit;
  flex: 1;
  padding: 8px;
  margin: 0;
  order: 1;
  font-size: 15px;
  min-width: 140px;
  max-width:162px;
  box-shadow: 0 0 0 #000 inset;
  border: 1px solid #ddd;
  border-radius: 0 4px 4px 0;
  outline: none;
  transition: .3s;
  &:focus {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2) inset;
  }
  &::-webkit-input-placeholder {
    font-size: 14px;
    color: #515151;
  }
  &::-moz-placeholder {
    font-size: 14px;
    color: #515151;
  }
  @media (min-width: 1226px) {
    order: 0;
    border-radius: 4px 0 0 4px;
  }
}
#header-search-submit {
  transition: .3s;
  cursor: pointer;
  text-align: center;
  margin: 0;
  padding: 0;
  border: none;
  font-size: 16px;
  color: #fff;
  background-color: #aaa;
  border-radius: 4px 0 0 4px;
  outline: none;
  width: 40px;
  line-height: 35px;
  &:focus {
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.7) inset;
  }
  @media (min-width: 1226px) {
    border-radius: 0 4px 4px 0;
  }
}
.ticker-input-results {
  position: absolute;
  top: 40px;
  margin: 0;
  @media (min-width: 1226px) {
    left: auto;
    right: 0;
  }
}
/* nav search end */

.promo-box {
  img {
    max-width: 100%;
  }
  @media (max-width: 644px) {
    .mega-menu-wrapper & {
      display: none;
    }
  }
}
.promo-box-image {
  position: relative;
}
.promo-box-image {
  img {
    max-width: 100%;
    vertical-align: middle;
  }
  .promo-box-header {
    margin: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px 25px;
    background: rgba(20, 105, 184, 0.9);
    color: #fff;
  }
}
.promo-box-content {
  margin-top: 15px;
  font-size: 15px;
  padding: 0 15px;
}
.promo-box-header {
  font-size: 20px;
  font-weight: 500;
  margin: 10px 0;
}

/* stocks info table */
.stocks-info-table {
  background-color: #fff;
  padding: 7px;
  border: 1px solid #d4d4d4;
}
.stocks-info-item {
  display: flex;
  justify-content: space-between;
  &.head {
    border: none;
    font-weight: 600;
    font-size: 16px;
  }
  .td {
    flex: 0 0 22%;
    padding: 4px 10px;
    @media (max-width: 479px) {
      padding: 4px 0;
    }
    &.name {
      flex: 1 1 50%;
      a {
        font-weight: 900;
      }
      small {
        display: block;
        color: #4c4c4c;
      }
    }
    &.return {
      color: #267326;
      font-weight: 900;
    }
  }
}
/* stocks info table end */
/*========================================================== top nav end ===========================================================*/
.ascent {
  font-family: $system-font;
  .description {
    font-size: 18px;
    .mobile-nav & {display: none;}
  }
  .columns {
    .column {
      flex: 1;
    }
  }
  .ascent-logo {
    > a {
      background: transparent;
      img {
        transition: .3s ease;
      }
      &:hover {
        img {
          filter: brightness(120%) saturate(120%);
          transform: scale(1.01) rotate(.1deg);
        }
      }
    }
    .mobile-nav & {
      text-align: center;
      border-top: 1px solid #ddd;
      padding: 30px 15px;
      @media (min-width:380px) {
        padding: 30px;
      }
      order: 2;
      > a {
        background: transparent;
      }
      img {
        max-width: 150px;
        margin-left: -30px;
      }
    }
    small {
      display: block;
      letter-spacing: 13px;
      font-size: 14px;
      font-weight: 300;
      margin-left: 95px;
      margin-top: -11px;
      .mobile-nav & {display: none;}
    }
  }
}
.ascent-links {
  li {
    margin-bottom: 7.5px;
  }
}
