{
  "name": "Motley_Fool",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [],
  "fileTree": {
    "expandedDirs": [
      "app"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "app/less/navigation.less",
      "imports": [
        "app/less/mixins.less"
      ]
    },
    {
      "path": "app/less/print.less",
      "imports": [
        "app/less/mixins.less",
        "app/less/navigation.less"
      ]
    },
    {
      "path": "app/less/style.less",
      "imports": [
        "app/less/mixins.less",
        "app/less/navigation.less",
        "app/less/share-bar.less"
      ]
    },
    {
      "path": "app/sass/homepage.scss",
      "imports": [
        "app/sass/_colors.scss"
      ]
    },
    {
      "path": "app/sass/navigation.scss",
      "imports": [
        "app/sass/_colors.scss"
      ]
    },
    {
      "path": "app/sass/print.scss",
      "imports": [
        "app/sass/navigation.scss",
        "app/sass/_colors.scss"
      ]
    },
    {
      "path": "app/sass/podcast-show-page.scss",
      "imports": [
        "app/sass/_colors.scss"
      ]
    },
    {
      "path": "app/sass/quotes.scss",
      "imports": [
        "app/sass/article-agg.scss",
        "app/sass/_color-label.scss",
        "app/sass/_colors.scss"
      ]
    },
    {
      "path": "app/sass/_color-label.scss",
      "imports": [
        "app/sass/_colors.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "log"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7879,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": true,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "/extraverst.ru/works/Motley_Fool",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "keepAlive": true,
      "host": "s19.webhost1.ru",
      "port": 21,
      "user": "petart9742",
      "password": "0b3f2449"
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": [
      {
        "file": "app/AMP_related_articles.json",
        "ctime": "2018-08-30T14:22:54.107Z",
        "mtime": "2018-08-30T00:48:40.000Z",
        "size": 554
      },
      {
        "file": "app/amp_template.html",
        "ctime": "2018-09-03T14:48:04.148Z",
        "mtime": "2018-09-03T14:48:04.148Z",
        "size": 18147
      },
      {
        "file": "app/article(1).html",
        "ctime": "2018-08-30T14:22:54.115Z",
        "mtime": "2018-08-30T00:47:40.000Z",
        "size": 125409
      },
      {
        "file": "app/article.html",
        "ctime": "2018-08-30T14:22:54.105Z",
        "mtime": "2018-08-30T00:48:40.000Z",
        "size": 125409
      },
      {
        "file": "app/article_1(1).html",
        "ctime": "2018-08-30T14:22:54.146Z",
        "mtime": "2018-08-30T00:48:32.000Z",
        "size": 158248
      },
      {
        "file": "app/article_1.html",
        "ctime": "2018-10-05T13:17:18.931Z",
        "mtime": "2018-10-05T13:17:18.931Z",
        "size": 158406
      },
      {
        "file": "app/article_1flex(1).html",
        "ctime": "2018-08-30T14:22:54.106Z",
        "mtime": "2018-08-30T00:48:34.000Z",
        "size": 178274
      },
      {
        "file": "app/article_1flex.html",
        "ctime": "2018-10-08T11:34:08.573Z",
        "mtime": "2018-08-30T00:48:38.000Z",
        "size": 178274
      },
      {
        "file": "app/article_base.html",
        "ctime": "2018-08-30T14:22:54.146Z",
        "mtime": "2018-08-30T00:48:38.000Z",
        "size": 154923
      },
      {
        "file": "app/author.html",
        "ctime": "2018-08-30T14:22:54.111Z",
        "mtime": "2018-08-30T00:48:38.000Z",
        "size": 128178
      },
      {
        "file": "app/auth_ml_link(1).html",
        "ctime": "2018-08-30T14:22:54.106Z",
        "mtime": "2018-08-30T00:48:34.000Z",
        "size": 5466
      },
      {
        "file": "app/auth_ml_link.html",
        "ctime": "2018-08-30T14:22:54.050Z",
        "mtime": "2018-08-30T00:48:38.000Z",
        "size": 5466
      },
      {
        "file": "app/auth_ml_link_success(1).html",
        "ctime": "2018-08-30T14:22:54.110Z",
        "mtime": "2018-08-30T00:48:34.000Z",
        "size": 4779
      },
      {
        "file": "app/auth_ml_link_success.html",
        "ctime": "2018-08-30T14:22:54.113Z",
        "mtime": "2018-08-30T00:48:38.000Z",
        "size": 4779
      },
      {
        "file": "app/brokers.html",
        "ctime": "2018-08-30T14:22:54.147Z",
        "mtime": "2018-08-30T00:48:36.000Z",
        "size": 123367
      },
      {
        "file": "app/brokers_expando.html",
        "ctime": "2018-08-30T14:22:54.107Z",
        "mtime": "2018-08-30T00:48:36.000Z",
        "size": 116428
      },
      {
        "file": "app/home.html",
        "ctime": "2018-10-03T13:37:17.813Z",
        "mtime": "2018-10-03T13:37:17.813Z",
        "size": 102206
      },
      {
        "file": "app/HP-services.html",
        "ctime": "2018-08-30T14:22:54.114Z",
        "mtime": "2018-08-30T00:48:36.000Z",
        "size": 137794
      },
      {
        "file": "app/index.html",
        "ctime": "2018-08-30T14:22:54.050Z",
        "mtime": "2018-08-30T00:48:36.000Z",
        "size": 0
      },
      {
        "file": "app/member_offers.html",
        "ctime": "2018-08-30T14:22:54.053Z",
        "mtime": "2018-08-30T00:48:36.000Z",
        "size": 143826
      },
      {
        "file": "app/mobile_listing.html",
        "ctime": "2018-09-05T13:52:09.706Z",
        "mtime": "2018-09-05T13:52:09.706Z",
        "size": 2854
      },
      {
        "file": "app/movers.html",
        "ctime": "2018-08-30T14:22:54.051Z",
        "mtime": "2018-08-30T00:48:36.000Z",
        "size": 120268
      },
      {
        "file": "app/navigation.html",
        "ctime": "2018-08-30T14:22:54.147Z",
        "mtime": "2018-08-30T00:48:36.000Z",
        "size": 69327
      },
      {
        "file": "app/news.html",
        "ctime": "2018-08-30T14:22:54.112Z",
        "mtime": "2018-08-30T00:48:36.000Z",
        "size": 128165
      },
      {
        "file": "app/services.html",
        "ctime": "2018-08-30T14:22:54.117Z",
        "mtime": "2018-08-30T00:48:36.000Z",
        "size": 133798
      },
      {
        "file": "app/services_1.html",
        "ctime": "2018-08-30T14:22:54.067Z",
        "mtime": "2018-08-30T00:48:40.000Z",
        "size": 113090
      },
      {
        "file": "app/services_cs.html",
        "ctime": "2018-08-30T14:22:54.104Z",
        "mtime": "2018-08-30T00:48:40.000Z",
        "size": 119272
      },
      {
        "file": "app/services_cs_leftnav_scroll.html",
        "ctime": "2018-08-30T14:22:54.115Z",
        "mtime": "2018-08-30T00:48:42.000Z",
        "size": 145160
      },
      {
        "file": "app/services_cs_leftnav_tabs.html",
        "ctime": "2018-08-30T14:22:54.049Z",
        "mtime": "2018-08-30T00:48:42.000Z",
        "size": 143759
      },
      {
        "file": "app/services_cs_top-filter.html",
        "ctime": "2018-08-30T14:22:54.052Z",
        "mtime": "2018-08-30T00:48:42.000Z",
        "size": 146441
      },
      {
        "file": "app/services_matrix.html",
        "ctime": "2018-08-30T14:22:54.052Z",
        "mtime": "2018-08-30T00:48:40.000Z",
        "size": 118402
      },
      {
        "file": "app/tesla.html",
        "ctime": "2018-08-30T14:22:54.145Z",
        "mtime": "2018-08-30T00:48:42.000Z",
        "size": 116175
      },
      {
        "file": "app/top_filter.html",
        "ctime": "2018-08-30T14:22:54.105Z",
        "mtime": "2018-08-30T00:48:44.000Z",
        "size": 149464
      },
      {
        "file": "app/video.html",
        "ctime": "2018-08-30T14:22:54.098Z",
        "mtime": "2018-08-30T00:48:44.000Z",
        "size": 161153
      },
      {
        "file": "app/_news.html",
        "ctime": "2018-08-30T14:22:54.112Z",
        "mtime": "2018-08-30T00:48:42.000Z",
        "size": 4862
      },
      {
        "file": "app/_news_trending.html",
        "ctime": "2018-08-30T14:22:54.113Z",
        "mtime": "2018-08-30T00:48:44.000Z",
        "size": 3826
      },
      {
        "file": "app/css/article-agg.css",
        "ctime": "2018-10-08T10:00:34.398Z",
        "mtime": "2018-10-08T10:00:34.397Z",
        "size": 9294
      },
      {
        "file": "app/css/author.css",
        "ctime": "2018-10-08T10:00:34.403Z",
        "mtime": "2018-10-08T10:00:34.403Z",
        "size": 241
      },
      {
        "file": "app/css/brokers.css",
        "ctime": "2018-10-08T10:00:34.405Z",
        "mtime": "2018-10-08T10:00:34.404Z",
        "size": 2458
      },
      {
        "file": "app/css/cache1.css",
        "ctime": "2018-08-30T14:22:54.061Z",
        "mtime": "2018-08-30T00:48:44.000Z",
        "size": 147825
      },
      {
        "file": "app/css/cache2.css",
        "ctime": "2018-08-30T14:22:54.060Z",
        "mtime": "2018-08-30T00:48:44.000Z",
        "size": 64656
      },
      {
        "file": "app/css/fool.css",
        "ctime": "2018-08-30T14:22:54.054Z",
        "mtime": "2018-08-30T00:48:44.000Z",
        "size": 266914
      },
      {
        "file": "app/css/homepage.css",
        "ctime": "2018-10-08T10:00:34.415Z",
        "mtime": "2018-10-08T10:00:34.415Z",
        "size": 18212
      },
      {
        "file": "app/css/market-performance-card.css",
        "ctime": "2018-10-08T10:00:34.417Z",
        "mtime": "2018-10-08T10:00:34.417Z",
        "size": 2413
      },
      {
        "file": "app/css/member_offers.css",
        "ctime": "2018-10-08T10:00:34.422Z",
        "mtime": "2018-10-08T10:00:34.422Z",
        "size": 10104
      },
      {
        "file": "app/css/mixins.css",
        "ctime": "2018-08-30T18:50:50.679Z",
        "mtime": "2018-08-30T18:50:50.637Z",
        "size": 768
      },
      {
        "file": "app/css/navigation.css",
        "ctime": "2018-10-08T10:00:34.434Z",
        "mtime": "2018-10-08T10:00:34.433Z",
        "size": 20990
      },
      {
        "file": "app/css/print.css",
        "ctime": "2018-10-08T10:00:34.440Z",
        "mtime": "2018-10-08T10:00:34.440Z",
        "size": 10894
      },
      {
        "file": "app/css/services.css",
        "ctime": "2018-08-30T18:50:50.892Z",
        "mtime": "2018-08-30T18:50:50.892Z",
        "size": 33175
      },
      {
        "file": "app/css/share-bar.css",
        "ctime": "2018-10-08T12:02:57.763Z",
        "mtime": "2018-10-08T12:02:57.763Z",
        "size": 3754
      },
      {
        "file": "app/css/snapshots.css",
        "ctime": "2018-08-30T18:50:50.895Z",
        "mtime": "2018-08-30T18:50:50.895Z",
        "size": 636
      },
      {
        "file": "app/css/style.css",
        "ctime": "2018-10-05T13:21:57.952Z",
        "mtime": "2018-10-05T13:21:57.952Z",
        "size": 38342
      },
      {
        "file": "app/fonts/helveticaNeue-Bold.eot",
        "ctime": "2018-08-30T14:22:54.130Z",
        "mtime": "2018-08-30T00:48:46.000Z",
        "size": 135420
      },
      {
        "file": "app/fonts/HelveticaNeue-Bold.svg",
        "ctime": "2018-08-30T14:22:54.121Z",
        "mtime": "2018-08-30T00:48:48.000Z",
        "size": 142151
      },
      {
        "file": "app/fonts/HelveticaNeue-Bold.ttf",
        "ctime": "2018-08-30T14:22:54.135Z",
        "mtime": "2018-08-30T00:48:48.000Z",
        "size": 112344
      },
      {
        "file": "app/fonts/HelveticaNeue-Bold.woff",
        "ctime": "2018-08-30T14:22:54.125Z",
        "mtime": "2018-08-30T00:48:48.000Z",
        "size": 48116
      },
      {
        "file": "app/fonts/HelveticaNeue-Heavy.eot",
        "ctime": "2018-08-30T14:22:54.137Z",
        "mtime": "2018-08-30T00:48:48.000Z",
        "size": 22270
      },
      {
        "file": "app/fonts/HelveticaNeue-Heavy.svg",
        "ctime": "2018-08-30T14:22:54.120Z",
        "mtime": "2018-08-30T00:48:48.000Z",
        "size": 59915
      },
      {
        "file": "app/fonts/HelveticaNeue-Heavy.ttf",
        "ctime": "2018-08-30T14:22:54.131Z",
        "mtime": "2018-08-30T00:48:48.000Z",
        "size": 22076
      },
      {
        "file": "app/fonts/HelveticaNeue-Heavy.woff",
        "ctime": "2018-08-30T14:22:54.124Z",
        "mtime": "2018-08-30T00:48:50.000Z",
        "size": 14608
      },
      {
        "file": "app/fonts/HelveticaNeue-Italic.eot",
        "ctime": "2018-08-30T14:22:54.133Z",
        "mtime": "2018-08-30T00:48:50.000Z",
        "size": 24108
      },
      {
        "file": "app/fonts/HelveticaNeue-Italic.svg",
        "ctime": "2018-08-30T14:22:54.121Z",
        "mtime": "2018-08-30T00:48:50.000Z",
        "size": 64355
      },
      {
        "file": "app/fonts/HelveticaNeue-Italic.ttf",
        "ctime": "2018-08-30T14:22:54.129Z",
        "mtime": "2018-08-30T00:48:50.000Z",
        "size": 23912
      },
      {
        "file": "app/fonts/HelveticaNeue-Italic.woff",
        "ctime": "2018-08-30T14:22:54.133Z",
        "mtime": "2018-08-30T00:48:48.000Z",
        "size": 14828
      },
      {
        "file": "app/fonts/HelveticaNeue-Light.eot",
        "ctime": "2018-08-30T14:22:54.129Z",
        "mtime": "2018-08-30T00:48:50.000Z",
        "size": 155432
      },
      {
        "file": "app/fonts/HelveticaNeue-Light.svg",
        "ctime": "2018-08-30T14:22:54.126Z",
        "mtime": "2018-08-30T00:48:52.000Z",
        "size": 822711
      },
      {
        "file": "app/fonts/HelveticaNeue-Light.ttf",
        "ctime": "2018-08-30T14:22:54.135Z",
        "mtime": "2018-08-30T00:48:52.000Z",
        "size": 155240
      },
      {
        "file": "app/fonts/HelveticaNeue-Light.woff",
        "ctime": "2018-08-30T14:22:54.125Z",
        "mtime": "2018-08-30T00:48:52.000Z",
        "size": 111412
      },
      {
        "file": "app/fonts/HelveticaNeue-Thin.eot",
        "ctime": "2018-08-30T14:22:54.128Z",
        "mtime": "2018-08-30T00:48:50.000Z",
        "size": 22984
      },
      {
        "file": "app/fonts/HelveticaNeue-Thin.svg",
        "ctime": "2018-08-30T14:22:54.126Z",
        "mtime": "2018-08-30T00:48:52.000Z",
        "size": 59824
      },
      {
        "file": "app/fonts/HelveticaNeue-Thin.ttf",
        "ctime": "2018-08-30T14:22:54.134Z",
        "mtime": "2018-08-30T00:48:52.000Z",
        "size": 22792
      },
      {
        "file": "app/fonts/HelveticaNeue-Thin.woff",
        "ctime": "2018-08-30T14:22:54.134Z",
        "mtime": "2018-08-30T00:48:52.000Z",
        "size": 14488
      },
      {
        "file": "app/fonts/HelveticaNeue-ThinItalic.eot",
        "ctime": "2018-08-30T14:22:54.119Z",
        "mtime": "2018-08-30T00:48:52.000Z",
        "size": 24444
      },
      {
        "file": "app/fonts/HelveticaNeue-ThinItalic.svg",
        "ctime": "2018-08-30T14:22:54.136Z",
        "mtime": "2018-08-30T00:48:54.000Z",
        "size": 64905
      },
      {
        "file": "app/fonts/HelveticaNeue-ThinItalic.ttf",
        "ctime": "2018-08-30T14:22:54.123Z",
        "mtime": "2018-08-30T00:48:54.000Z",
        "size": 24240
      },
      {
        "file": "app/fonts/HelveticaNeue-ThinItalic.woff",
        "ctime": "2018-08-30T14:22:54.128Z",
        "mtime": "2018-08-30T00:48:54.000Z",
        "size": 14972
      },
      {
        "file": "app/fonts/HelveticaNeue-UltraLight.eot",
        "ctime": "2018-08-30T14:22:54.124Z",
        "mtime": "2018-08-30T00:48:56.000Z",
        "size": 22952
      },
      {
        "file": "app/fonts/HelveticaNeue-UltraLight.svg",
        "ctime": "2018-08-30T14:22:54.131Z",
        "mtime": "2018-08-30T00:48:54.000Z",
        "size": 59288
      },
      {
        "file": "app/fonts/HelveticaNeue-UltraLight.ttf",
        "ctime": "2018-08-30T14:22:54.119Z",
        "mtime": "2018-08-30T00:48:56.000Z",
        "size": 22748
      },
      {
        "file": "app/fonts/HelveticaNeue-UltraLight.woff",
        "ctime": "2018-08-30T14:22:54.137Z",
        "mtime": "2018-08-30T00:48:56.000Z",
        "size": 14076
      },
      {
        "file": "app/fonts/HelveticaNeue-UltraLightItal.eot",
        "ctime": "2018-08-30T14:22:54.123Z",
        "mtime": "2018-08-30T00:48:54.000Z",
        "size": 24796
      },
      {
        "file": "app/fonts/HelveticaNeue-UltraLightItal.svg",
        "ctime": "2018-08-30T14:22:54.130Z",
        "mtime": "2018-08-30T00:48:56.000Z",
        "size": 64314
      },
      {
        "file": "app/fonts/HelveticaNeue-UltraLightItal.ttf",
        "ctime": "2018-08-30T14:22:54.118Z",
        "mtime": "2018-08-30T00:48:56.000Z",
        "size": 24584
      },
      {
        "file": "app/fonts/HelveticaNeue-UltraLightItal.woff",
        "ctime": "2018-08-30T14:22:54.122Z",
        "mtime": "2018-08-30T00:48:56.000Z",
        "size": 15000
      },
      {
        "file": "app/fonts/HelveticaNeue.eot",
        "ctime": "2018-08-30T14:22:54.132Z",
        "mtime": "2018-08-30T00:48:56.000Z",
        "size": 127962
      },
      {
        "file": "app/fonts/HelveticaNeue.svg",
        "ctime": "2018-08-30T14:22:54.120Z",
        "mtime": "2018-08-30T00:48:56.000Z",
        "size": 141622
      },
      {
        "file": "app/fonts/HelveticaNeue.ttf",
        "ctime": "2018-08-30T14:22:54.127Z",
        "mtime": "2018-08-30T00:48:56.000Z",
        "size": 104904
      },
      {
        "file": "app/fonts/HelveticaNeue.woff",
        "ctime": "2018-08-30T14:22:54.132Z",
        "mtime": "2018-08-30T00:48:58.000Z",
        "size": 46760
      },
      {
        "file": "app/images/300x250.png",
        "ctime": "2018-08-30T14:22:54.086Z",
        "mtime": "2018-08-30T00:48:58.000Z",
        "size": 1540
      },
      {
        "file": "app/images/728x90.png",
        "ctime": "2018-08-30T14:22:54.095Z",
        "mtime": "2018-08-30T00:48:58.000Z",
        "size": 1047
      },
      {
        "file": "app/images/AAPL_logo.png",
        "ctime": "2018-09-03T14:40:25.640Z",
        "mtime": "2018-09-03T14:40:19.535Z",
        "size": 2643
      },
      {
        "file": "app/images/AD_advisor.jpg",
        "ctime": "2018-08-30T14:22:54.096Z",
        "mtime": "2018-08-30T00:48:58.000Z",
        "size": 91779
      },
      {
        "file": "app/images/AMZN_logo.png",
        "ctime": "2018-09-03T14:40:11.083Z",
        "mtime": "2018-09-03T14:39:59.025Z",
        "size": 3544
      },
      {
        "file": "app/images/article1.jpg",
        "ctime": "2018-08-30T14:22:54.091Z",
        "mtime": "2018-08-30T00:48:58.000Z",
        "size": 16009
      },
      {
        "file": "app/images/article2.jpg",
        "ctime": "2018-08-30T14:22:54.094Z",
        "mtime": "2018-08-30T00:48:58.000Z",
        "size": 27680
      },
      {
        "file": "app/images/article3.jpg",
        "ctime": "2018-08-30T14:22:54.092Z",
        "mtime": "2018-08-30T00:49:00.000Z",
        "size": 29362
      },
      {
        "file": "app/images/close-menu.png",
        "ctime": "2018-08-30T14:22:54.098Z",
        "mtime": "2018-08-30T00:49:00.000Z",
        "size": 249
      },
      {
        "file": "app/images/color_line.jpg",
        "ctime": "2018-08-30T14:22:54.088Z",
        "mtime": "2018-08-30T00:49:00.000Z",
        "size": 1643
      },
      {
        "file": "app/images/color_line.png",
        "ctime": "2018-08-30T14:22:54.088Z",
        "mtime": "2018-08-30T00:49:00.000Z",
        "size": 318
      },
      {
        "file": "app/images/DavidGardner.png",
        "ctime": "2018-08-30T14:22:54.068Z",
        "mtime": "2018-08-30T00:48:58.000Z",
        "size": 10653
      },
      {
        "file": "app/images/DG_twitter.png",
        "ctime": "2018-08-30T14:22:54.087Z",
        "mtime": "2018-08-30T00:49:00.000Z",
        "size": 4417
      },
      {
        "file": "app/images/Flag_of_Hong_Kong.svg",
        "ctime": "2018-09-19T10:42:54.383Z",
        "mtime": "2018-09-19T10:41:12.207Z",
        "size": 1279
      },
      {
        "file": "app/images/Flag_of_Japan.svg",
        "ctime": "2018-09-19T10:42:54.386Z",
        "mtime": "2018-09-19T10:41:09.057Z",
        "size": 209
      },
      {
        "file": "app/images/fool-logo-cropped.png",
        "ctime": "2018-08-30T14:22:54.097Z",
        "mtime": "2018-08-30T00:49:02.000Z",
        "size": 5976
      },
      {
        "file": "app/images/fool-logo.png",
        "ctime": "2018-08-30T14:22:54.089Z",
        "mtime": "2018-08-30T00:49:02.000Z",
        "size": 9338
      },
      {
        "file": "app/images/foolTranscriptsLogo_5x3.png",
        "ctime": "2018-08-30T14:22:54.071Z",
        "mtime": "2018-08-30T00:49:02.000Z",
        "size": 73222
      },
      {
        "file": "app/images/fool_hat.png",
        "ctime": "2018-08-30T14:22:54.093Z",
        "mtime": "2018-08-30T00:49:00.000Z",
        "size": 9219
      },
      {
        "file": "app/images/Industry_focus.jpg",
        "ctime": "2018-08-30T14:22:54.072Z",
        "mtime": "2018-08-30T00:49:02.000Z",
        "size": 21568
      },
      {
        "file": "app/images/Industry_focus_healthcare.jpg",
        "ctime": "2018-08-30T14:22:54.093Z",
        "mtime": "2018-08-30T00:49:02.000Z",
        "size": 25749
      },
      {
        "file": "app/images/leaderboard.jpg",
        "ctime": "2018-08-30T14:22:54.070Z",
        "mtime": "2018-08-30T00:49:02.000Z",
        "size": 25705
      },
      {
        "file": "app/images/logo.eps",
        "ctime": "2018-08-30T14:22:54.085Z",
        "mtime": "2018-08-30T00:42:52.000Z",
        "size": 1199170
      },
      {
        "file": "app/images/MotleyFool-BeatingTheMarketingSince2003--300x250px-v11.png",
        "ctime": "2018-08-30T14:22:54.095Z",
        "mtime": "2018-08-30T00:49:02.000Z",
        "size": 21399
      },
      {
        "file": "app/images/PYPL_logo.png",
        "ctime": "2018-09-03T14:40:40.892Z",
        "mtime": "2018-09-03T14:40:35.165Z",
        "size": 3456
      },
      {
        "file": "app/images/Retirement.jpg",
        "ctime": "2018-08-30T14:22:54.090Z",
        "mtime": "2018-08-30T00:49:02.000Z",
        "size": 19549
      },
      {
        "file": "app/images/retirement_banner.jpg",
        "ctime": "2018-08-30T14:22:54.069Z",
        "mtime": "2018-08-30T00:49:02.000Z",
        "size": 18480
      },
      {
        "file": "app/images/ryr-motley-300x250-Final.png",
        "ctime": "2018-08-30T14:22:54.089Z",
        "mtime": "2018-08-30T00:49:04.000Z",
        "size": 51715
      },
      {
        "file": "app/images/RYR-themotleyfool-300x250-v7.png",
        "ctime": "2018-08-30T14:22:54.087Z",
        "mtime": "2018-08-30T00:49:04.000Z",
        "size": 31901
      },
      {
        "file": "app/images/services_return.jpg",
        "ctime": "2018-08-30T14:22:54.097Z",
        "mtime": "2018-08-30T00:49:06.000Z",
        "size": 58102
      },
      {
        "file": "app/images/stocks_info.jpg",
        "ctime": "2018-08-30T14:22:54.086Z",
        "mtime": "2018-08-30T00:49:06.000Z",
        "size": 13277
      },
      {
        "file": "app/images/theascent-logo-color-medium.png",
        "ctime": "2018-08-30T14:22:54.091Z",
        "mtime": "2018-08-30T00:49:06.000Z",
        "size": 14171
      },
      {
        "file": "app/images/theascent-logo-color-medium_150x34.png",
        "ctime": "2018-08-30T14:22:54.092Z",
        "mtime": "2018-08-30T00:49:04.000Z",
        "size": 7052
      },
      {
        "file": "app/images/top-story.jpg",
        "ctime": "2018-08-30T14:22:54.096Z",
        "mtime": "2018-08-30T00:49:06.000Z",
        "size": 85639
      },
      {
        "file": "app/images/transcripts-logo.png",
        "ctime": "2018-08-30T14:22:54.070Z",
        "mtime": "2018-08-30T00:49:06.000Z",
        "size": 40920
      },
      {
        "file": "app/images/TSLA_logo.png",
        "ctime": "2018-09-03T14:39:51.868Z",
        "mtime": "2018-09-03T14:38:42.783Z",
        "size": 3067
      },
      {
        "file": "app/js/accessibleMegaMenuInit.js",
        "ctime": "2018-08-30T14:22:54.100Z",
        "mtime": "2018-08-30T00:49:06.000Z",
        "size": 921
      },
      {
        "file": "app/js/brokers.js",
        "ctime": "2018-08-30T14:22:54.101Z",
        "mtime": "2018-08-30T00:49:06.000Z",
        "size": 2
      },
      {
        "file": "app/js/jquery-accessibleMegaMenu.js",
        "ctime": "2018-08-30T14:22:54.103Z",
        "mtime": "2018-08-30T00:49:06.000Z",
        "size": 47304
      },
      {
        "file": "app/js/jquery.waypoints.min.js",
        "ctime": "2018-08-30T14:22:54.103Z",
        "mtime": "2018-08-30T00:49:06.000Z",
        "size": 8839
      },
      {
        "file": "app/js/main.js",
        "ctime": "2018-08-30T14:22:54.101Z",
        "mtime": "2018-08-30T00:49:08.000Z",
        "size": 8433
      },
      {
        "file": "app/js/member_offers.js",
        "ctime": "2018-08-30T14:22:54.099Z",
        "mtime": "2018-08-30T00:49:08.000Z",
        "size": 371
      },
      {
        "file": "app/js/mixitup.js",
        "ctime": "2018-08-30T14:22:54.102Z",
        "mtime": "2018-08-30T00:49:08.000Z",
        "size": 88623
      },
      {
        "file": "app/js/mixitupFilter.js",
        "ctime": "2018-08-30T14:22:54.100Z",
        "mtime": "2018-08-30T00:49:08.000Z",
        "size": 1387
      },
      {
        "file": "app/js/sticky.min.js",
        "ctime": "2018-08-30T14:22:54.102Z",
        "mtime": "2018-08-30T00:49:08.000Z",
        "size": 1251
      },
      {
        "file": "app/navigation/navigation.css",
        "ctime": "2018-08-30T14:22:54.109Z",
        "mtime": "2018-08-30T00:49:10.000Z",
        "size": 18486
      },
      {
        "file": "app/navigation/navigation.html",
        "ctime": "2018-08-30T14:22:54.109Z",
        "mtime": "2018-08-30T00:49:10.000Z",
        "size": 69329
      },
      {
        "file": "app/navigation/navigation.zip",
        "ctime": "2018-08-30T14:22:54.108Z",
        "mtime": "2018-08-30T00:49:10.000Z",
        "size": 10644
      },
      {
        "file": "app/images/Services Assets/checkmark.png",
        "ctime": "2018-08-30T14:22:54.080Z",
        "mtime": "2018-08-30T01:01:48.000Z",
        "size": 123
      },
      {
        "file": "app/images/Services Assets/HG-graph.svg",
        "ctime": "2018-08-30T14:22:54.073Z",
        "mtime": "2018-08-30T01:01:50.000Z",
        "size": 62900
      },
      {
        "file": "app/images/Services Assets/II-graph.svg",
        "ctime": "2018-08-30T14:22:54.074Z",
        "mtime": "2018-08-30T01:01:50.000Z",
        "size": 64286
      },
      {
        "file": "app/images/Services Assets/IV-graph.svg",
        "ctime": "2018-08-30T14:22:54.074Z",
        "mtime": "2018-08-30T01:01:50.000Z",
        "size": 69031
      },
      {
        "file": "app/images/Services Assets/png.zip",
        "ctime": "2018-08-30T14:22:54.076Z",
        "mtime": "2018-08-30T01:01:50.000Z",
        "size": 246162
      },
      {
        "file": "app/images/Services Assets/RB-graph.svg",
        "ctime": "2018-08-30T14:22:54.075Z",
        "mtime": "2018-08-30T01:01:50.000Z",
        "size": 39051
      },
      {
        "file": "app/images/Services Assets/SA-graph.svg",
        "ctime": "2018-08-30T14:22:54.072Z",
        "mtime": "2018-08-30T01:01:50.000Z",
        "size": 57386
      },
      {
        "file": "app/images/Services Assets/png/HG-graph.png",
        "ctime": "2018-08-30T14:22:54.078Z",
        "mtime": "2018-08-30T01:12:38.000Z",
        "size": 47523
      },
      {
        "file": "app/images/Services Assets/png/II-graph.png",
        "ctime": "2018-08-30T14:22:54.077Z",
        "mtime": "2018-08-30T01:12:38.000Z",
        "size": 46553
      },
      {
        "file": "app/images/Services Assets/png/IV-graph.png",
        "ctime": "2018-08-30T14:22:54.078Z",
        "mtime": "2018-08-30T01:12:38.000Z",
        "size": 47299
      },
      {
        "file": "app/images/Services Assets/png/RB-graph.png",
        "ctime": "2018-08-30T14:22:54.077Z",
        "mtime": "2018-08-30T01:12:38.000Z",
        "size": 56140
      },
      {
        "file": "app/images/Services Assets/png/SA-graph.png",
        "ctime": "2018-08-30T14:22:54.079Z",
        "mtime": "2018-08-30T01:12:38.000Z",
        "size": 53575
      },
      {
        "file": "app/images/Services Assets/__MACOSX/__checkmark.png",
        "ctime": "2018-08-30T14:22:54.081Z",
        "mtime": "2018-08-30T01:12:38.000Z",
        "size": 222
      },
      {
        "file": "app/images/Services Assets/__MACOSX/__HG-graph.svg",
        "ctime": "2018-08-30T14:22:54.082Z",
        "mtime": "2018-08-30T01:12:38.000Z",
        "size": 222
      },
      {
        "file": "app/images/Services Assets/__MACOSX/__II-graph.svg",
        "ctime": "2018-08-30T14:22:54.084Z",
        "mtime": "2018-08-30T01:12:40.000Z",
        "size": 222
      },
      {
        "file": "app/images/Services Assets/__MACOSX/__IV-graph.svg",
        "ctime": "2018-08-30T14:22:54.082Z",
        "mtime": "2018-08-30T01:12:40.000Z",
        "size": 222
      },
      {
        "file": "app/images/Services Assets/__MACOSX/__RB-graph.svg",
        "ctime": "2018-08-30T14:22:54.084Z",
        "mtime": "2018-08-30T01:12:40.000Z",
        "size": 222
      },
      {
        "file": "app/images/Services Assets/__MACOSX/__SA-graph.svg",
        "ctime": "2018-08-30T14:22:54.083Z",
        "mtime": "2018-08-30T01:12:40.000Z",
        "size": 222
      },
      {
        "file": "cred.txt",
        "ctime": "2018-08-30T14:22:54.148Z",
        "mtime": "2018-08-30T00:42:48.000Z",
        "size": 211
      },
      {
        "file": "daily_update.txt",
        "ctime": "2018-09-06T11:59:25.348Z",
        "mtime": "2018-09-06T11:59:25.348Z",
        "size": 42
      },
      {
        "file": "FoolAppleNews.css",
        "ctime": "2018-08-30T14:22:54.148Z",
        "mtime": "2018-08-30T00:42:50.000Z",
        "size": 139
      },
      {
        "file": "github_2factor_auth.txt",
        "ctime": "2018-08-30T14:22:54.046Z",
        "mtime": "2018-08-30T00:42:50.000Z",
        "size": 192
      },
      {
        "file": "gulpfile.js",
        "ctime": "2018-10-08T10:47:45.131Z",
        "mtime": "2018-10-08T10:47:45.131Z",
        "size": 1509
      },
      {
        "file": "GULP_TRAINING.sublime-workspace",
        "ctime": "2018-08-30T14:23:00.145Z",
        "mtime": "2018-08-30T00:42:50.000Z",
        "size": 29948
      },
      {
        "file": "MotleyFool.sublime-project",
        "ctime": "2018-08-30T14:26:37.841Z",
        "mtime": "2018-08-30T14:26:37.683Z",
        "size": 74
      },
      {
        "file": "MotleyFool.sublime-workspace",
        "ctime": "2018-08-30T14:26:37.843Z",
        "mtime": "2018-08-30T14:26:37.684Z",
        "size": 19937
      },
      {
        "file": "package-lock.json",
        "ctime": "2018-10-08T10:46:54.513Z",
        "mtime": "2018-10-08T10:46:54.495Z",
        "size": 239677
      },
      {
        "file": "package.json",
        "ctime": "2018-10-08T10:46:54.362Z",
        "mtime": "2018-10-08T10:46:54.338Z",
        "size": 443
      },
      {
        "file": "app/css/podcast-show-page.css",
        "ctime": "2018-10-23T12:21:15.018Z",
        "mtime": "2018-10-23T12:21:15.018Z",
        "size": 193
      },
      {
        "file": "app/podcast-show-page.html",
        "ctime": "2018-10-23T12:36:41.424Z",
        "mtime": "2018-10-23T12:36:41.424Z",
        "size": 87831
      }
    ]
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"],\"compiler-node-sass\":{\"outputStyle\":\"expanded\"}}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}