.color-label:after {
  content: '';
  position: absolute;
  top: 0;
  left: 30px;
  width: 150px;
  height: 3px;
}

@media (max-width: 480px) {
  .color-label:after {
    left: -15px;
    top: 5px;
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 480px) {
  .color-label {
    padding-left: 15px;
    position: relative;
  }
  .color-label.content-block-label, .color-label.page-title-header {
    color: #000 !important;
  }
  .color-label.content-block-label {
    line-height: 2.1;
  }
  .color-label.author-header:after {
    display: none;
  }
  .color-label.page-title-header:after {
    top: 14px;
  }
  .m-np .color-label {
    padding-left: 30px;
  }
  .m-np .color-label:after {
    left: 0;
  }
}

.color-label.l-yellow:after {
  background: #FFCC33;
}

.color-label.l-blue:after {
  background: #336699;
}

.color-label.l-green:after {
  background: #339933;
}

.color-label.l-red:after {
  background: #CC3300;
}

.color-label.l-beige:after {
  background: #FFCC99;
}
