body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

@media (max-width: 659px) {
  body {
    background-color: #f5f5f5;
  }
}

.btn {
  transition: .3s ease;
  display: inline-block;
  vertical-align: middle;
  padding: 15px 30px;
  margin: 30px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  line-height: 1;
  font-size: 17px;
  text-transform: uppercase;
}

.btn.btn-blue {
  background: #336699;
  color: #fff;
}

.content-container {
  color: #333;
  font-size: 16px;
}

.content-container hr {
  border-bottom: 1px solid #EBF1F5;
  margin: 15px 0;
}

.content-container a {
  color: #336699;
  transition: .3s ease;
}

.content-container a:hover {
  color: #0A2C3A;
}

h1,
h2,
h3 {
  margin-bottom: 30px;
}

h4,
h5,
h6 {
  margin-bottom: 10px;
}

h3 {
  font-size: 35px;
  letter-spacing: -0.5px;
  margin-bottom: 15px;
}

h4 {
  font-size: 30px;
  letter-spacing: -0.5px;
  margin-bottom: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  line-height: 1.2;
}

.page-title-header {
  padding: 10px 0 0;
  margin: 0 0 15px 0;
}

@media (min-width: 660px) {
  .page-title-header {
    margin: 0 0 30px 0;
  }
}

.page-title-header h1 {
  margin-bottom: 0;
}

.page-title-header p {
  color: #555;
  font-size: 24px;
  margin: 5px 0 0;
}

.page-title-header.author-header {
  display: flex;
  align-items: center;
}

@media (max-width: 659px) {
  .page-title-header.author-header {
    padding-left: 0;
  }
}

.page-title-header.author-header .author-avatar {
  width: 80px;
  height: 80px;
  flex: 0 0 80px;
  margin-right: 15px;
}

.page-title-header.author-header .author-avatar img {
  width: 100%;
  border-radius: 50%;
  border: 1px solid #dedede;
}

.page-title-header.author-header .author-title {
  position: relative;
  flex: 1;
  flex-direction: column;
}

.page-title-header.author-header h1 {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 0;
  flex: 1;
}

@media (min-width: 380px) {
  .page-title-header.author-header h1 {
    white-space: nowrap;
  }
}

.page-title-header.author-header small {
  display: block;
  font-size: 12px;
  line-height: 1 !important;
  color: #555;
}

@media (min-width: 860px) {
  .page-title-header.author-header small {
    font-size: 14px;
  }
}

.page-title-header.author-header .twitter-btn {
  padding-top: 7px;
}

@media (min-width: 600px) {
  .page-title-header.author-header .twitter-btn {
    margin: 0;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
  }
}

.header-ads {
  padding: 0;
  display: block;
}

@media (max-width: 1023px) {
  .header-ads .banner .wide {
    margin-bottom: 5px;
  }
}

.header-ads .wide {
  text-align: center;
  width: 100%;
}

.header-ads .wide p {
  margin: 0;
}

.content-container-columns {
  max-width: 80em;
  margin: 0 auto;
  display: block;
}

@media (min-width: 1024px) {
  .content-container-columns {
    display: flex;
  }
}

.content-container-columns .column.main-column {
  flex: 1;
  padding-right: 15px;
}

@media (max-width: 1023px) {
  .content-container-columns .column.main-column {
    padding: 0;
  }
}

.content-container-columns .column.sidebar {
  overflow: hidden;
  width: 100%;
  margin-top: 30px;
}

@media (min-width: 1024px) {
  .content-container-columns .column.sidebar {
    width: 300px;
    flex: 0 0 auto;
    margin-top: 0;
  }
}

.banner {
  margin-bottom: 15px;
  text-align: center;
  transition: .3s ease;
  display: block;
  overflow: hidden;
}

.banner.wide {
  margin-bottom: 30px;
  text-align: center;
}

.banner img {
  transition: .3s ease;
  vertical-align: middle;
}

.content-block {
  background: #fff;
  padding: 30px;
  margin-bottom: 15px;
  position: relative;
}

@media (max-width: 659px) {
  .content-block {
    padding: 15px;
  }
}

@media (max-width: 659px) {
  .content-block.m-np {
    padding: 15px 0;
  }
}

.content-block img {
  max-width: 100%;
}

.content-block .content-block-label {
  font-size: 14px;
  text-transform: uppercase;
  color: #555;
  margin-bottom: 0;
}

.content-block a.article-link {
  display: block;
  margin: 0;
  padding: 0;
}

.content-block article {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  letter-spacing: 0.3px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin: 30px 0;
}

@media (max-width: 659px) {
  .content-block article {
    margin: 7px 0;
    background: #fff;
    box-shadow: 0 1px 5px #aaa;
  }
  .sidebar .content-block article {
    padding: 15px;
  }
}

.content-block article .story-date-author, .content-block article .author-byline {
  font-size: 13px;
  color: #777;
  margin-bottom: 5px;
  margin: 5px 0 10px;
  line-height: 1;
}

.sidebar .content-block article p {
  font-size: 13px;
}

.content-block article .article-image {
  transition: 0.6s ease;
  width: 100%;
}

.content-block article .image, .content-block article .card-image {
  min-width: 130px;
  flex-basis: 100%;
  max-width: 100%;
  min-height: 120px;
  margin: 0;
}

@media (min-width: 480px) {
  .content-block article .image, .content-block article .card-image {
    flex-basis: 62%;
  }
}

@media (min-width: 660px) {
  .content-block article .image, .content-block article .card-image {
    flex-basis: 33%;
    margin-right: 15px;
  }
}

.content-block article .image > a, .content-block article .card-image > a {
  display: block;
  position: relative;
  overflow: hidden;
  height: 0;
  padding-top: 56.25%;
}

.content-block article .image > a img, .content-block article .card-image > a img {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

.content-block article .text {
  flex: 1 1 50%;
  color: #333;
}

@media (max-width: 767px) {
  .content-block article .text > p {
    display: none;
  }
}

@media (max-width: 659px) {
  .content-block article .text {
    padding: 15px;
  }
}

.content-block article h4 {
  transition: .3s ease;
  color: #336699;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 1.1;
}

.content-block article h5 {
  display: block;
  width: 100%;
  margin-bottom: 7px;
}

.content-block article h5 .fa {
  width: 25px;
}

.content-block article:hover .article-image {
  transform: scale(1.03) rotate(0.1deg);
  filter: brightness(110%) saturate(120%);
}

.content-block article.top-story {
  margin: 0;
}

.content-block article.top-story .image {
  flex-basis: 100%;
  max-width: 100%;
}

.content-block article.top-story .caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 15px 30px;
}

@media (max-width: 992px) {
  .content-block article.top-story .caption {
    position: relative;
    background: #000;
  }
}

@media (max-width: 479px) {
  .content-block article.top-story .caption {
    padding: 15px;
  }
}

.content-block article.top-story .story-date-author {
  color: #fff;
}

@media (min-width: 1024px) {
  .content-block.promoted-articles article .image, .content-block.promoted-articles article .card-image {
    flex-basis: 312px;
    max-width: 312px;
    max-height: 183px;
  }
}

@media (max-width: 659px) {
  .content-block hr {
    display: none;
  }
}

.content-block.recent-articles .load-more {
  margin: 0px auto;
  display: block;
}

.content-block #wagagg-load-more-spinner {
  display: none;
}

/* top color line*/
.color-line {
  width: 100%;
  display: flex;
}

.color-line .color {
  flex: 1;
  height: 3px;
}

.color-line .color.blue {
  background-color: #336699;
}

.color-line .color.yellow {
  background-color: #FFCC33;
}

.color-line .color.red {
  background-color: #CC3300;
}

.color-line .color.beige {
  background-color: #FFCC99;
}

.color-line .color.green {
  background-color: #339933;
}

/* top color line end*/
.color-label:after {
  content: '';
  position: absolute;
  top: 0;
  left: 30px;
  width: 150px;
  height: 3px;
}

@media (max-width: 660px) {
  .color-label:after {
    left: -15px;
    top: 5px;
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 660px) {
  .color-label {
    padding-left: 15px;
    position: relative;
  }
  .color-label.content-block-label, .color-label.page-title-header {
    color: #000 !important;
  }
  .color-label.content-block-label {
    line-height: 2.1;
  }
  .color-label.author-header:after {
    display: none;
  }
  .color-label.page-title-header:after {
    top: 14px;
  }
  .m-np .color-label {
    padding-left: 30px;
  }
  .m-np .color-label:after {
    left: 0;
  }
}

.color-label.l-yellow:after {
  background: #FFCC33;
}

.color-label.l-blue:after {
  background: #336699;
}

.color-label.l-green:after {
  background: #339933;
}

.color-label.l-red:after {
  background: #CC3300;
}

.color-label.l-beige:after {
  background: #FFCC99;
}

html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

@media screen and (min-width: 1024px) {
  .page-grid-layout {
    display: grid;
    grid-template-columns: auto 30%;
    grid-gap: 15px;
  }
}

.page-grid-layout .leaderboard {
  display: grid;
  place-items: center;
  padding-top: 15px;
}

.page-grid-layout .top-right-ad {
  padding-top: 15px;
  display: none;
}

@media (min-width: 1024px) {
  .page-grid-layout .top-right-ad {
    display: grid;
    place-items: center;
  }
}

.page-grid-layout .column.main-column {
  margin-bottom: 60px;
}

@media (min-width: 1024px) {
  .page-grid-layout .column.main-column {
    margin-bottom: 30px;
  }
}

.content-block .content-block-label {
  font-size: 16px;
  margin-bottom: 15px;
}

.content-block .content-block-label + .subhead {
  font-size: 12px;
  font-weight: 100;
  margin-top: -15px;
  margin-bottom: 30px;
}

@media (max-width: 659px) {
  .content-block .content-block-label + .subhead {
    margin-left: 15px;
    margin-top: -20px;
  }
}

#tickerpage_pitch {
  margin-bottom: 0;
}

article h4 {
  font-size: 28px;
  font-weight: 400;
  line-height: 1.1;
}

.company-title-section {
  border: none;
  margin: 0;
}

@media (min-width: 480px) {
  .company-title-section {
    display: flex;
    align-items: center;
  }
}

.company-title-section .company-name-container {
  float: none;
  margin: 0 15px 0 0;
  width: auto;
  display: flex;
  align-items: center;
}

.company-title-section .sub-page-dropdown-container {
  float: none;
  margin: 20px;
  width: auto;
  margin-left: auto;
}

.company-title-section h1 {
  display: flex;
  align-items: baseline;
  margin: 15px 0;
}

.company-title-section h1 .company-name {
  font-size: 60px;
  line-height: 1;
  font-weight: 300;
  color: #000;
  margin: 0 0 0 15px;
}

.company-title-section h1 .company-ticker {
  font-size: 15px;
  color: #999;
  font-weight: 900;
  margin-left: 5px;
}

#article-filter {
  margin: 15px 0;
  display: flex;
}

#article-filter .filter {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 7.5px;
  border: 1px solid #EBF1F5;
  color: #999;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.1;
  font-weight: 100;
  transition: .3s ease;
  position: relative;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0);
  flex: auto;
}

@media (min-width: 1024px) {
  #article-filter .filter {
    padding: 7.5px 15px;
  }
}

#article-filter .filter:hover, #article-filter .filter:active, #article-filter .filter:focus {
  border-color: #336699;
  color: #336699;
}

#article-filter .filter.active {
  background-color: #FFCC33;
  border-color: #FFCC33;
  color: #336699;
  font-size: 18px;
  z-index: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.button-group input {
  display: none;
}

.button-group label {
  margin-bottom: 0;
}

@media screen and (min-width: 1024px) {
  .button-group label {
    float: left;
  }
}

.button-group label .button-group-item {
  background: white;
  border-left: 1px solid silver;
  border-radius: 0;
  border-right: 1px solid silver;
  color: gray;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-weight: normal;
  line-height: 1;
  padding: 0.75em 1em;
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .button-group label .button-group-item {
    border-bottom: 1px solid silver;
    border-left: 0;
    border-right: 1px solid #eeeeee;
    border-top: 1px solid silver;
    width: auto;
  }
}

.button-group label .button-group-item:focus, .button-group label .button-group-item:hover {
  background-color: #f7f7f7;
}

.button-group label:first-child .button-group-item {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-top: 1px solid silver;
}

@media screen and (min-width: 1024px) {
  .button-group label:first-child .button-group-item {
    border-bottom-left-radius: 3px;
    border-left: 1px solid silver;
    border-top-left-radius: 3px;
    border-top-right-radius: 0;
  }
}

.button-group label:last-child .button-group-item {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom: 1px solid silver;
}

@media screen and (min-width: 1024px) {
  .button-group label:last-child .button-group-item {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 3px;
    border-right: 1px solid silver;
    border-top-right-radius: 3px;
  }
}

.button-group label input:checked + .button-group-item {
  background: #477DCA;
  border: 1px solid #2c5999;
  box-shadow: inset 0 1px 2px #3264ac;
  color: white;
}

.button-group:after {
  content: '.';
  color: transparent;
  text-indent: 9999px;
  height: 0;
  width: 0;
  clear: both;
}

.company-description {
  color: #000;
  font-weight: 100;
  margin-top: 15px;
}

#page-selector {
  font-family: inherit;
}

.quote-price-info {
  margin-left: auto;
}

.price-quote-container h2 {
  font-weight: 300;
  font-size: 30px;
}

#big-box-ad-1 {
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
}

#big-box-ad-1 iframe {
  width: 100%;
}

.section-more-link {
  font-size: 16px;
}

.expander-trigger {
  border-bottom: none;
  margin-bottom: 0;
}

.expander-trigger:before {
  content: 'Show Less...';
}

.expander-trigger.expander-hidden:before {
  content: 'Show More...';
}
